<div class="admin-new-song">
  {{#if addNewSong}}
    <div>
      <form>
        <p>
          need to find a way to associate each song with an album.
        </p>

        <div class="form-group">
          <label for="title">title</label>
          {{input value=title id="title"}}
        </div>
        <div class="form-group">
          <label for="length">length</label>
          {{input value=length id="length"}}
        </div>
        <div class="form-group">
          <label for="writer">credits</label>
          {{input value=writer id="writer"}}
        </div>
        <div class="form-group">
          <label for="lyrics">lyrics</label>
          {{textarea value=lyrics id="lyrics"}}
        </div>
        <div class="form-group">
          <label for="videoLink">video link</label>
          {{input value=videoLink id="videoLink"}}
        </div>
        <div class="form-group">
          <label for="recording">recording</label>
          {{input id="recording" type='file'}}
        </div>
        <button {{action 'saveNewSong' album}}>Save Song</button>
        <button {{action 'dontSaveSong'}}>cancel</button>
      </form>
    </div>
  {{else}}
    <button class="btn" {{action 'showSongForm'}}>Add New Song</button>
  {{/if}}
</div>
