<div class="admin-view container" >
  {{category-nav}}

  {{#if categorySelect.isMusic}}
    {{admin-album-list albums=model.albums saveNewAlbum="saveNewAlbum" editAlbum="editAlbum" deleteAlbum="deleteAlbum" saveNewSong="saveNewSong" deleteSong="deleteSong" editSong="editSong"}}
  {{/if}}

  {{#if categorySelect.isArtworks}}
    {{admin-artwork-list artworks=model.artworks saveNewArtwork="saveNewArtwork" editArtwork="editArtwork" deleteArtwork="deleteArtwork"}}
  {{/if}}

  {{#if categorySelect.isPerformances}}
    {{admin-performance-list performances=model.performances saveNewPerformance="saveNewPerformance" editPerformance="editPerformance" deletePerformance="deletePerformance"}}
  {{/if}}

  {{#if categorySelect.isPress}}
    {{admin-press-list pressclips=model.pressclips saveNewPress="saveNewPress" editPress="editPress" deletePress="deletePress"}}
  {{/if}}

  {{#if categorySelect.isProducts}}
    {{admin-product-list products=model.products saveNewProduct="saveNewProduct" editProduct="editProduct" deleteProduct="deleteProduct"}}
  {{/if}}
</div>
