<div class="admin-song-tile">
  <h3>Song Title: {{song.title}}</h3>
  <p>Song Length: {{song.length}}</p>
  <p>Song Writer: {{song.writer}}</p>
  <audio controls src={{song.recording}}></audio><br/>
  <a href={{song.videoLink}} target="blank">Video Link</a>
  <p>{{song.lyrics}}</p>
  {{admin-edit-song song=song editSong="editSong" deleteSong="deleteSong"}}
</div>
