<div class="admin-new-product">
  {{#if addNewProduct}}
    <div>
      <form>
        <div class="form-group">
          <label for="number">number</label>
          {{input value=number id="number" type='number'}}
        </div>
        <div class="form-group">
          <label for="name">name</label>
          {{input value=name id="name"}}
        </div>
        <div class="form-group">
          <label for="description">description</label>
          {{input value=description id="description"}}
        </div>
        <div class="form-group">
          <label for="image">Image File</label>
          {{input id="productImage" type='file'}}
        </div>
        <div class="form-group">
          <label for="price">price</label>
          {{input value=dollars id="dollars" type='number' min='0'}}
          {{input value=cents id="cents" type='number' min='0' max='99'}}
        </div>
        <button {{action 'saveNewProduct'}}>Save Product</button>
        <button {{action 'dontSaveProduct'}}>cancel</button>
      </form>
    </div>
  {{else}}
    <button class="btn" {{action 'showProductForm'}}>Add New Product</button>
  {{/if}}
</div>
