<div class="admin-performance-tile">
  <h3>Venue: {{performance.venue}}</h3>
  <p>Address: {{performance.address}}</p>
  <p>Date: {{performance.date}}</p>
  <p>With:</p>
  <p>{{performance.confederates}}</p>

  {{admin-edit-performance performance=performance editPerformance="editPerformance" deletePerformance="deletePerformance"}}
</div>
