<div class="admin-album-tile">
  <h3>{{album.title}}</h3>
  <p>{{album.releaseDate}}</p>
  <img src={{album.cover}}/>
  <p>{{album.label}}</p>
  {{admin-edit-album album=album editAlbum="editAlbum" deleteAlbum="deleteAlbum"}}
  <p>
    Songs:
  </p>
  {{admin-song-list album=album songs=album.songs saveNewSong="saveNewSong" editSong="editSong" deleteSong="deleteSong"}}
</div>
