<div class="admin-edit-performance">
  {{#if editPerformanceForm}}
  <div>
    <form>
      <div class="form-group">
        <label for="venue">venue</label>
        {{input value=performance.venue id="venue"}}
      </div>
      <div class="form-group">
        <label for="address">address</label>
        {{input value=performance.address id="address"}}
      </div>
      <div class="form-group">
        <label for="date">date</label>
        {{input value=performance.date id="date" type="datetime-local"}}
      </div>
      <div class="form-group">
        <label>confederates</label>
          {{input value=performance.confederates}}
      </div>
      <button {{action 'editPerformance' performance}}>Update</button>
      <button {{action 'hideEditForm'}}>Cancel</button>
      <br>
    </form>
  </div>
  {{else}}
      <button {{action 'editPerformanceForm'}}>Edit Performance</button>
      <button {{action 'deletePerformance' performance}}>Delete Performance</button>
  {{/if}}</div>
