<div class="admin-new-performance">
  {{#if addNewPerformance}}
    <div>
      <form>
        <div class="form-group">
          <label for="venue">venue</label>
          {{input value=venue}}
        </div>
        <div class="form-group">
          <label for="address">address</label>
          {{input value=address id="address"}}
        </div>
        <div class="form-group">
          <label for="date">date</label>
          {{input value=date id="date" type="datetime-local"}}
        </div>
        <div class="form-group">
          <label for="confederates">confederates</label>
          {{input value=confederates0 id="confederates"}}
          {{input value=confederates1}}
          {{input value=confederates2}}
          {{input value=confederates3}}
          {{input value=confederates4}}
        </div>
        <button {{action 'saveNewPerformance'}}>Save Performance</button>
        <button {{action 'dontSavePerformance'}}>cancel</button>
      </form>
    </div>
  {{else}}
    <button class="btn" {{action 'showPerformanceForm'}}>Add New Performance</button>
  {{/if}}
</div>
