<div class="admin-new-video">
  {{#if addNewVideo}}
    <div>
      <form>

        <p>
          need to find a way to associate each video with a song
        </p>

        <div class="form-group">
          <label for="director">director</label>
          {{input value=director id="director"}}
        </div>
        <div class="form-group">
          <label for="link">link</label>
          {{input value=link id="link"}}
        </div>
        <button {{action 'saveNewVideo'}}>Save Video</button>
        <button {{action 'dontSaveVideo'}}>Cancel</button>
      </form>
    </div>
  {{else}}
    <button class="btn" {{action 'showVideoForm'}}>Add New Video</button>
  {{/if}}
</div>
