<div class="admin-performance-tile">
  <h3>{{performance.venue}}</h3>
  <p>{{performance.address}}</p>
  <p>{{performance.date}}</p>
  <p>{{performance.confederates}}</p>
  <p>need to format performance.date here</p>
  <p>need to display a list of performance.confederates</p>
  {{admin-edit-performance performance=performance editPerformance="editPerformance" deletePerformance="deletePerformance"}}
</div>
