<div class="admin-song-tile">
  <h3>{{song.title}}</h3>
  <p>{{song.length}}</p>
  <p>{{song.writer}}</p>
  <p>{{song.lyrics}}</p>
  <p>display song.recording either as a link or as the src for an audio tag</p>
  <p>
    display song.album here
  </p>
  {{admin-edit-song song=song editSong="editSong" deleteSong="deleteSong"}}
</div>
