<div class="admin-press-tile">
  <h3>{{pressclip.title}}</h3>
  <p>{{pressclip.author}}</p>
  <p>{{pressclip.text}}</p>
  <p>{{pressclip.publication}}</p>

  <p>
    <a href={{pressclip.link}} target="blank">link</a>
  </p>
  {{admin-edit-pressclip pressclip=pressclip editPress="editPress" deletePress="deletePress"}}
</div>
