<div class="admin-press-tile">
  <h3>{{pressclip.title}}</h3>
  <p>{{pressclip.author}}</p>
  <p>{{pressclip.text}}</p>
  <p>{{pressclip.publication}}</p>
  <p>
    need to format pressclip.date here
  </p>
  <p>
    display pressclip.link as the href of an anchor tag
  </p>
  {{admin-edit-pressclip pressclip=pressclip editPress="editPress" deletePress="deletePress"}}
</div>
