<div class="category-nav">
  <ul class='list-inline'>
    <li {{action "selectCategory" "performances"}}>Performances</li>
    <li{{action "selectCategory" "products"}}>Products</li>
    <li{{action "selectCategory" "artworks"}}>Artworks</li>
    <li{{action "selectCategory" "press"}}>Press</li>
    <li{{action "selectCategory" "albums"}}>Albums/Songs/Videos</li>
  </ul>
</div>
