<div class="structure-song-tile">
  <h3>{{song.title}}</h3>
  <p>{{song.length}}</p>
  <p>credits: {{song.writer}}</p>
  <audio controls class={{link-hider song.recording}} src={{song.recording}}></audio><br/>
  <a href={{song.videoLink}} class={{link-hider song.videoLink}} target="blank">Video Link</a>
  <p>{{song.lyrics}}</p>
</div>
