<div class="structure-song-tile">
  <h3>{{song.title}}</h3>
  <p>{{song.length}}</p>
  <p>credits: {{song.writer}}</p>
  {{#if song.hasRecording}}
    <audio controls src={{song.recording}}></audio><br/>
  {{/if}}

  {{#unless song.hasNolink}}
    {{log "test" song.hasNoLink}}
    <a href={{song.videoLink}} target="blank">Video Link</a>
  {{/unless}}
  <p>{{song.lyrics}}</p>
</div>
