<div class='structure-artwork-tile effect'>
  <img class="individual-artwork" src="{{artwork.image}}" alt="{{artwork.title}}" />
  <h3>{{artwork.title}}</h3>
  <h4><em>Artist:</em> {{artwork.artist}}</h4>
  <p>{{artwork.notes}}</p>
</div>
