<div class="structure-press-tile">
  <h3>{{pressclip.title}}</h3>
  <h4>{{pressclip.author}}</h4>
  <p>{{pressclip.text}}</p>
  <p>{{pressclip.publication}}</p>
  <p>{{pressclip.date}}</p>
  <p>{{pressclip.link}}</p>
</div>
